
  <div class="large-6 columns">
  <ul class="no-bullet">
      <% @hotels.each do |hotel| %>
      <li class="">
      <span class="titleh"><i class="fi-marker"></i> <%= hotel.title%>
        <% for i in 0...hotel.etoile %>
          <i class="fi-star"></i>
        <% end %></span>
      <p><i class="fi-home"></i>  <%= hotel.adr%></p>
      <p><i class="fi-telephone"> </i><%= hotel.tel%></p>
      </li>
      <hr>
      <% end %>
    </ul>
  </div>
<div class="large-6 columns">
<style type="text/css">
      #map-canvas { width:450px;height: 450px; }
    </style>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(35.67,-0.6327377),
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      <% @hotels.each do |k| %>
        <% if k.lat%>
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%= k.lat%>,<%= k.lng%>),
            map: map,
            title: '<%= k.title%>'
          });
        <% end %>
      <% end %>
      }
      google.maps.event.addDomListener(window, 'resize', initialize);
google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <div id="map-canvas"/></div>

<%= link_to 'New Hotel', new_hotel_path %>
</div>
